@using perfumedecant.Models.Repository
@{
    ViewBag.Title = "مقالات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Rep_Article rep_article = new Rep_Article();
    var articles = rep_article.Get_AllArticles();
}

<section class="content">
    <div class="container-fluid">
        <div class="add-box">
            <div class="card card-warning">
                <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
                    <div class="container">
                        <div class="breadcrumb-content text-center">
                            <h3>سوالات متداول</h3>
                        </div>
                    </div>
                </div>
                <div style="direction:rtl;margin:50px;text-align:justify">
                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : آیا محصولات  شما اصل یا به اصطلاح اورجینال هستند؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>پاسخ : بله محصولات شرکت پرفیوم دکانت کاملا اصل بوده و تولید کشور فرانسه، اسپانیا و ایتالیا هستند و به هیچ وجه کالای غیر اصل یا اماراتی و یا کالای درجه دوم و سوم عرضه نمیشود. تمامی محصولات شرکت لیبل دار بوده و تیم پرفیوم دکانت ضمانت دایمی محصولات را به عهده میگیرد و هر زمانی که کالا غیر اصل بود میتوانید کالا را پس فرستاده و تمام وجه خود را با کمال احترام پس بگیرید. </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : دکانت (سمپل دست ریز) چیست؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>پاسخ: یکی از متداول ترین سوالات شما مشتریان عزیز این است که دکانت چیست؟ به طور خلاصه دکانت به عملی گفته میشود که ادکلن اورجینال از داخل شیشه به شیشه های دیگری در حجم های مختلف انتقال داده میشود. </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : فرق دکانت (سمپل دست ریز) و ادکلن اورجینال  با عطر های گرمی چیست؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ : سوالی که مطرح شده نیاز به پاسخ فراوان ومفصلی دارد از بحث غیر بهداشتی و سرطان زا بودن این روغن بچه های خوشبو و مضحک به اصطلاح (غلط) "عطر" گرفته تا نوع تولید وعرضه به بازار الی آخر...
                        </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : کالای سفارش داده شده طی چند روز به دست ما میرسد؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ : کالای شما ظرف سریع ترین زمان ممکن از طرف شرکت ارسال میشود (روزانه) اما تحویل سفارش بسته به موقیعت جغرافیایی هر مشتری متغیر میباشد. اما به طور کلی حداکثر تا سه روز سفارش شما تحویل داده خواهد شد.
                        </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : آیا میتوانیم از طریق تلگرام اینستاگرام و غیره سفارش ثبت کنیم؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ : بله این امکان تا حدودی وجود دارد. اما جهت سهولت در خرید از شما خواهشمندیم تا حد امکان از طریق سایت اقدام کنید.
                        </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : اگر کالایی را سفارش بدهیم ولی موجودی به اتمام برسد چه میشود؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ : وجه پرداختی شما در سریع ترین زمان ممکن با کمال احترام پس داده خواهد شد.
                        </p>
                    </div>

                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : مزیت دکانت (سمپل دست ریز) چیست و چرا دکانت؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ : از شما مشتریان عزیز خواهشمندیم مقاله زیر را مطالعه بفرمایید.  چرا دکانت (سمپل دست ریز)؟
                        </p>
                    </div>


                    <div class="question">
                        <p>
                            <i class="fas fa-check-square"></i>
                            سوال : برتری شما نسبت به سایر فروشگاه ها چیست؟
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                            پاسخ :
                        <p> 1: تنوع بسیار بالا سایت در زمینه فروش دکانت و ادکلن کامل. از ( ادکلن های قیمت متوسط تا گران قیمت شما میتوانید هر عطری را در حجم های مختلف سفارش بدهید).</p>
                        <p>2: تنوع در حجم سفارش : شما میتوانید در حجم های 3-5-10-15-20 و 25 میل سفارش دکانت بدهید</p>
                        <p>3: دریافت هدیه (سمپل عطر رایگان یا کارت هدیه ) با اولین خرید</p>
                        <p>4: شرکت در قرعه کشی دایمی هر ماه</p>
                        <p> 5: ارسال سریع سفارشات</p>
                        <p>
                            6: ضمانت دایمی اصالت کالا
                        </p>
                    </div>
                    <br /> <br /> <br />
                    <center>
                        <p>با تشکر از مطالعه شما.</p>
                        <p>
                            پرفیوم دکانت بزرگترین مرجع دکانت ایران با بیشتر از هفت سال سابقه در واردات و فروش ادکلن
                        </p>
                    </center>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container" style="direction:rtl !important">
    <div class="row" style="margin-left:15px;">
        <div class="col-md-12">

        </div>
    </div>
</div>




