@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="cart-main-area pt-50 pb-100">
    <div class="container">
        <div class="mt-50" style="text-align:center">
            @*<img src="~/Content/Images/icon-img/success.png" style="width:10%" />*@
            <img src="~/Content/Images/icon-img/Success.png" />

            <h4 class="mt-10">پرداخت شما با شماره فاکتور @ViewBag.InvoiceNum با موفقیت انجام شد.</h4>
        </div>
    </div>
</div>