@model perfumedecant.Models.PerfumeModel
@using perfumedecant.Models.Repository;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html"> صفحه اصلی </a>
                </li>
                <li class="active">  لیست محصولات  @ViewBag.title </li>
            </ul>
        </div>
    </div>
</div>
@Html.Partial("PerfumeList_Section", Model)
@Html.Partial("Modal_Section")
  
