@model perfumedecant.Models.PerfumeModel
@using perfumedecant.Models.Repository;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Rep_Brand repBrand = new Rep_Brand();
    var brandName = repBrand.GetBrandName(Model.brandID);
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html"> صفحه اصلی </a>
                </li>
                <li class="active">لیست محصولات برند @brandName</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="tab-filter-wrap mb-60 pt-40">

        <div class="filter-active">
            <a href="#"> فیلتر <i class="fa fa-plus"></i></a>
        </div>
    </div>
    @Html.Partial("Filter_Section")
    @Html.Partial("PerfumeList_Section", Model)
    @Html.Partial("Modal_Section")
</div>