
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">

                        <p style="text-align:center">
                            اگر رمز عبور خود را فراموش کرده اید، با وارد کردن ایمیل خود می توانید آن را بازیابی کنید.
                        </p>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                
                                <div class="login-register-form">
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "frm_Register", @class = "form" }))
                                    {
                                        <input type="text" name="email" placeholder="ایمیل" />
                                        <div class="button-box mt-30" style="text-align:center">
                                            <button type="submit"><span>ارسال</span></button>
                                        </div>
                                    }
                                    @if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-danger error_message" style="float:none">
                                            <a class="close" style="cursor: pointer;" onclick="$('.alert').hide()">×</a>
                                            @ViewBag.Success
                                        </div>
                                    }
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger error_message" style="float:none">
                                            <a class="close" style="cursor: pointer;" onclick="$('.alert').hide()">×</a>
                                            @ViewBag.Error
                                        </div>

                                    }
                                    <br />
                                    <p class="loginRegister-link">
                                        <a href='@Url.Action("Index", "Account")'> بازگشت به صفحه ورود </a>
                                    </p>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>